@model IEnumerable<SafetyTourism.Models.GrupoRisco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FaixaEtaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etnia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doenca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FaixaEtaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etnia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doenca.DoencaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GrupoRiscoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GrupoRiscoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GrupoRiscoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
