@model IEnumerable<SafetyTourism.Models.SurtosEpidemiologico>

@{
    ViewData["Title"] = "Index";
}

<h1>Surtos Epidemiológicos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeSurto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrauContagio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndiceMortalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrupoRisco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recomendacoe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GravidadeSurto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSurto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrauContagio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndiceMortalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sintoma.NomeSintoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoRisco.FaixaEtaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recomendacoe.DataRegisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GravidadeSurto.NivelGravidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurtosEpidemiologicoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurtosEpidemiologicoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurtosEpidemiologicoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
