@model IEnumerable<SafetyTourism.Models.SurtosOcurrencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurtosEpidemiologico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinoTuristico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.SurtosEpidemiologicoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinoTuristico.DestinoTuristicoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurtosOcurrenciaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurtosOcurrenciaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurtosOcurrenciaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
