@model IEnumerable<SafetyTourism.Models.GravidadeSurto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class = "buttonz" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataRegisto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelGravidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelGravidade)
            </td>
            <td>
                <a class = "buttonz" asp-action="Edit" asp-route-id="@item.GravidadeSurtoID">Editar</a> |
                <a class = "buttonz" asp-action="Details" asp-route-id="@item.GravidadeSurtoID">Detalhes</a> |
                <a class = "buttonz" asp-action="Delete" asp-route-id="@item.GravidadeSurtoID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
