@model SafetyTourism.Models.Utilizador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUtilizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoradaUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoradaUtilizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailUtilizador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UtilizadorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
