@model SafetyTourism.Models.DestinoTuristico

@{
    ViewData["Title"] = "Details";
}

<h1></h1>

@{
    bool b = true;
}
@foreach (var item in Model.SurtosOcurrencias)
{
    <div>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.NomeSurto)

                @{ if ((item.SurtosEpidemiologico.NomeSurto.Any()))
                    {
                        b = false;
                    }
                }

            </td>
            <td>
            </td>
        </tr>
    </div>
}
@{ if (!b)
    {
        <div>
            <h4>DestinoTuristico</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NomeDestino)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NomeDestino)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DensidadeDemografica)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DensidadeDemografica)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pais)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pais)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Continente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Continente)
                </dd>
                <dt class="col-sm-2">

                </dt>
            </dl>
        </div>
        <div>
            <br>
            <br>
            <br>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Nome Surto</th>
                    <th>Data de inicio</th>
                    <th>
                        GrauContagio
                    </th>
                    <th>
                        IndiceMortalidade
                    </th>
                    <th>
                        Gravidade de Surto
                    </th>
                    <th>
                        GrupoRisco
                    </th>
                    <th>
                        Recomendações OMS
                    </th>
                    <th>
                        Sintomas
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SurtosOcurrencias)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.NomeSurto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.GrauContagio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.IndiceMortalidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.GravidadeSurto.NivelGravidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.GrupoRisco.FaixaEtaria)
                        </td>
                        <td>
                            <a class="buttonz" asp-action="ViewReport" asp-route-id="@Model.DestinoTuristicoID">@Html.DisplayFor(modelItem => item.SurtosEpidemiologico.Recomendacoe.DescricaoBreve)</a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurtosEpidemiologico.Sintoma.NomeSintoma)
                        </td>
                    </tr>
                }


            </tbody>
        </table>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.DestinoTuristicoID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else
    {
        <br />
        <br />
        <br />
        <br />

        <a class=buttonz asp-action="Index">Nao existem Surtos Epidemiológicos para este Destino Turistico</a>
    }
}
