@model IEnumerable<SafetyTourism.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailFuncionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailFuncionario)
            </td>
            <td>
                <a class = "buttonz" asp-action="Edit" asp-route-id="@item.FuncionarioID">Editr</a> 
                <a class = "buttonz" asp-action="Details" asp-route-id="@item.FuncionarioID">Detalhes</a> 
                <a class = "buttonz" asp-action="Delete" asp-route-id="@item.FuncionarioID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
