@model IEnumerable<SafetyTourism.Models.Sintoma>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataRegisto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSintoma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSintoma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SintomaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SintomaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SintomaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
